* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background: #E5E5E5;
}

body {
    background: #E5E5E5;
    width: 100vw;
    height: 90vh;
    /* border: 10px solid black */
}

.header {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.header img {
    width: 32px;
    height: 48px;
}


.container-inicio {
    display: grid;
    grid-template-columns: 3px 314px 3px;
    grid-template-rows: 105px;
    width: 100vw;
    place-content: center;
}

.button-inicio {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #E5E5E5;
    background: #0A3871;
    border-radius: 24px;
    margin-bottom: 20px;
}

.container-palabra {
    display: grid;
    grid-template-columns: 21px 278px 21px;
    grid-template-rows: 67px;
    width: 100vw;
    place-content: center;
    margin-bottom: 200px;
}

.button-palabra {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
    background: #E5E5E5;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media (min-width:768px) {
    .header {
        display: flex;
        flex-direction: row;
        margin-left: 84px;
        margin-top: 40px;
        margin-bottom: 300px;
    }
}

@media (min-width:820px) {

    .header {
        display: flex;
        flex-direction: row;
        margin-left: 84px;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .container-palabra {
        margin-bottom: 450px;
    }
}


@media (min-width: 992px) {
    .header {
        display: flex;
        flex-direction: row;
        margin-left: 84px;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .container-palabra {
        margin-bottom: 50px;
    }
}


@media (min-width: 1200px) {
    .header {
        display: flex;
        flex-direction: row;
        margin-left: 84px;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .container-palabra {
        margin-bottom: 150px;
    }
}


@media (min-width: 1400px) {
    .header {
        display: flex;
        flex-direction: row;
        margin-left: 84px;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .container-palabra {
        margin-bottom: 150px;
    }
}